<template name="formQuiz">
    <form>
        <div class="question-group">
            <label>Question</label>
            <input type="text" name="question" class="form-control" placeholder="Your Question">
        </div>

        <div class="form-group">
            <label>Option #1</label>
            <input type="text" name="option1" class="form-control" placeholder="Option #1">
        </div>
        <div class="form-group">
            <label>Option #2</label>
            <input type="text" name="option2" class="form-control" placeholder="Option #2">
        </div>
        <div class="form-group">
            <label>Option #3</label>
            <input type="text" name="option3" class="form-control" placeholder="Option #3">
        </div>

        <button type="submit" class="btn btn-lg btn-primary btn-block">Create Quiz</button>
    </form>
</template>